.main{
  text-align: center;
  margin:5%;
}
.card{
  width:30%;
  height: 20%;
  margin:15px;
  padding: 10px;
  /* box-sizing: content-box; */
}
.massage_area{
  margin-left: 25%;
  margin-top: 2%;
  border:.3px solid gray;
  width: 50%;
  /* box-shadow: 3px darkgreen; */
  box-shadow: darkolivegreen;
  

}
.form{
  width:100%;
  margin:3px;
  margin-left: -60px;;
}